footer.bg-white
  .mx-auto.flex.justify-between.items-center
    footer(class="w-full flex justify-between items-center text-black mt-10 m-4")
        p &copy; 2024 Fundación México Sin Sordera A.C
        .flex.items-center
          .relative.inline-block.bg-white.p-2.rounded-lg.shadow-lg
            img(src="/img/logo/logo-mexico-sin-sordera-2023.png" alt="Logo" style="height: 5rem; width: auto;" class="mr-2 footer-img")
